.logo-link {
  display: block;
  width: 88px;
  margin: 0 auto;
  transition: 0.3s; }
  .logo-link::before {
    content: "";
    display: inline-block;
    width: 86px;
    height: 35px;
    background-image: url("../img/logo/mishka-logo-mobile.svg");
    background-size: 86px 35px;
    background-repeat: no-repeat;
    transition: 0.3s; }
  .logo-link:active {
    opacity: 0.3;
    transition: 0.1s; }
    .logo-link:active::before {
      content: "";
      transform: scale(0.95);
      transition: 0.1s; }

@media (min-width: 768px) {
  .logo-link::before {
    width: 113px;
    height: 46px;
    background-image: url("../img/logo/mishka-logo-tablet.svg");
    background-size: 113px 46px; } }

@media (min-width: 1080px) {
  .logo-link::before {
    width: 149px;
    height: 72px;
    background-image: url("../img/logo/mishka-logo-desktop.svg");
    background-size: 149px 72px; }
  .logo-link:hover {
    opacity: 0.6; }
    .logo-link:hover::before {
      transform: scale(0.97); }
  .logo-link:focus {
    opacity: 0.6; }
    .logo-link:focus::before {
      transform: scale(0.97); }
  .logo-link:active {
    opacity: 0.3;
    transition: 0.1s; }
    .logo-link:active::before {
      content: "";
      transform: scale(0.95);
      transition: 0.1s; } }
