.what-we-do {
  background-image: url("../img/what-we-do/main-img-mobile.jpg");
  background-size: 320px 373px;
  background-repeat: no-repeat;
  background-position: center -19px;
  border-top: 1px solid transparent; }

.what-we-do__main-text {
  display: block;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 121px;
  text-align: center; }

@media (min-width: 768px) {
  .what-we-do {
    padding: 0 6.7%;
    background-image: url("../img/what-we-do/main-img-tablet.jpg");
    background-size: 768px 746px;
    background-position: center -65px;
    max-width: 1250px;
    margin: 0 auto; }
  .what-we-do__main-text {
    font-size: 43px;
    line-height: 50px;
    margin-top: 88px;
    margin-bottom: 374px; } }

@media (min-width: 1080px) {
  .what-we-do {
    background-image: url("../img/what-we-do/main-img-desktop.jpg");
    background-size: 1150px 746px;
    background-position: center -2px; }
  .what-we-do__main-text {
    font-size: 53px;
    line-height: 57px;
    margin-top: 152px;
    margin-bottom: 359px; } }
