.main-navigation{
	position: relative;
}

.main-navigation__btn {
	width: 25px;
	height: 20px;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 1001;
	margin-top: 3px;
	cursor: pointer;
	top: 27px;
	right: 9%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-focus-ring-color: rgba(255, 255, 255, 0); 
	outline: none;
}

.main-navigation__line {
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	padding: 0;
	background-color: #221f1f;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

	&--1 {
		top: 2px;
	}

	&--2,
	&--3,
	&--4 {
		top: 8px;	
	}

	&--5 {
		top: 14px;
	} 
}

.main-navigation__btn--open-menu .main-navigation__line {
	&--1 {
		top: 13.5px;
  		background-color: transparent;
	}

	&--2 {
  		-webkit-transform: rotate(45deg);
      	-ms-transform: rotate(45deg);
          transform: rotate(45deg);
  		width: 27px;
	}

	&--3 {
  		-webkit-transform: rotate(-45deg);
    	  -ms-transform: rotate(-45deg);
     	     transform: rotate(-45deg);
  		width: 27px;
	}

	&--4 {
		background-color: transparent;	
	}

	&--5 {
		bottom: 13.5px;
		background-color: transparent; 
	} 
}

.main-navigation__list {
	padding: 0;
	margin: 0;
}

.main-navigation__list-item {
	position: relative;
	z-index: 999;
	list-style: none;
	border-bottom: 1px solid #ececec;
	background-color: #fff;

	&--logo {
		padding-bottom: 5.2%;
	}
}

.main-navigation__list-item:not(.main-navigation__list-item--logo){
	display: none;
}

.main-navigation__list-item--logo {
	position: relative;
	z-index: 1000;
	padding-top: 22px;
}

.main-navigation__item-link {
	display: block;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	color: #000;
	padding-top: 8%;
	padding: 8% 0 8.9% 0;
	letter-spacing: 0.008em;
	transition: 0.3s;

	&:active {
		color: rgba(0, 0, 0, 0.3);
		transition: 0.1s;
		box-shadow: 0 0 0 2px #fff inset,
		0 0 0 4px #000 inset;
	}

	&--search::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 40%;
		left: 10%;
		width: 21px;
		height: 21px;
		background-image: url("../img/menu-img/search.svg");
		background-repeat: no-repeat;
		background-size: 18px 18px;
		opacity: 0.2;
		transition: 0.3s;
	}

	&--cart::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 38.5%;
		left: 9.5%;
		width: 21px;
		height: 21px;
		background-image: url("../img/menu-img/cart.svg");
		background-repeat: no-repeat;
		background-size: 21px 18px;
		opacity: 0.2;
		transition: 0.3s;	
	}
}

.main-navigation__item-link--search {
	&:active {

		&::before {
			background-image: url("../img/menu-img/search-blue.svg");
			opacity: 0.3;
			transition: 0.1s;
		}
	}
}

.main-navigation__item-link--cart {
	&:active {

		&::before {
			background-image: url("../img/menu-img/cart-blue.svg");
			opacity: 0.3;
			transition: 0.1s;
		}
	}
}

.main-navigation__menu-text {
	display: block;
	box-sizing: border-box;
	width: 320px;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	padding-left: 75px;
	margin: 0 auto; 
}

.main-navigation .nojs {
	display: block;
}

.main-navigation .open-menu {
	display: block;
	animation-name: show-menu;
	animation-duration: 0.8s;
}

.main-navigation .close-menu {
	animation-name: close-menu;
	display: block;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes show-menu {

 0% {
 		transform: translateY(-500px);
 }

 100% {
		transform: translateY(0);
 }

}

@keyframes close-menu {
	
 0% {
 		transform: translateY(0);
 }

 100% {
		transform: translateY(-500px);
 }

}

@media (min-width: 768px) {

	.main-navigation__list {
		display: flex;
		flex-wrap: wrap;
	}
}